body {
  margin: 0;
}

@-webkit-keyframes leftSlide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  60% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  90% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  99% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  99.999% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}



@-webkit-keyframes rightSlide {
  0% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  25% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  30% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  55% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  90% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  99% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  99.999% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}


@keyframes topSlide {
  0% {
    background-position: center 25px;
  }
  25% {
    background-position: center 25px;
  }
  30% {
    background-position: center -110px;
  }
  55% {
    background-position: center -110px;
  }
  60% {
    background-position: center -240px;
  }
  90% {
    background-position: center -240px;
  }
  99% {
    background-position: center -365px;
  }
  99.999% {
    background-position: center -365px;
  }
  100% {
    background-position: center 25px;
  }
}

@-webkit-keyframes bottomSlide {
  0% {
    background-position: center -362px;
  }
  25% {
    background-position: center -362px;
  }
  30% {
    background-position: center -233px;
  }
  55% {
    background-position: center -233px;
  }
  60% {
    background-position: center -105px;
  }
  90% {
    background-position: center -105px;
  }
  99% {
    background-position: center 28px;
  }
  99.999% {
    background-position: center 28px;
  }
  100% {
    background-position: center -362px;
  }
}


.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 700px;
}

.slider__half {
  height: 0;
  overflow: hidden;
  padding-top: 39%;
  position: relative;
  width: 100%;
}


@media screen and (min-width: 1024px) {
  .slider__half {
    height: 0;
    padding-top: 24%;
  }
}


@media screen and (min-width: 1024px) {
  .slider__half__bottom {
    margin-top: 0;
  }
}

.slider__slide-channel {
  height: 100%;
  position: absolute;
  top: 0;
  width: 500vw;
}

.slider__top-slide-item {
  -webkit-animation-name: rightSlide;
          animation-name: rightSlide;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  float: left;
  height: 100%;
  position: relative;
  width: 100vw;
}

.slider__bottom-slide-item {
  -webkit-animation-name: leftSlide;
          animation-name: leftSlide;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  float: left;
  height: 100%;
  position: relative;
  width: 100vw;
}




.slider__text {
  position: absolute;
  width: 100%;
}

.slider__text--top {
  bottom: 25px;
}

@media screen and (min-width: 1000px) {
  .slider__text--top {
    bottom: 25px;
  }
}


.slider__text--bottom {
  top: 25px;
}

@media screen and (min-width: 1000px) {
  .slider__text--bottom {
    top: 25px;
  }
}

.slider__text__content {
  height: 30px;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
}

@media screen and (min-width: 600px) {
  .slider__text__content {
    height: 75px;
    width: 540px;
  }
}

@media screen and (min-width: 1000px) {
  .slider__text__content {
    height: 150px;
    width: 945px;
  }
}

.slider__text--top .slider__text__content {
  background: url('img/slider/a.png') no-repeat center -233px transparent;
  background-size: 100% auto;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
          animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
}


@media screen and (min-width: 1000px) {
  .slider__text--top .slider__text__content {
    -webkit-animation-name: topSlide;
            animation-name: topSlide;
  }
}

.slider__text--bottom .slider__text__content {
  background: url('img/slider/b.png') no-repeat center -233px transparent;
  background-size: 100% auto;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
          animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
}


@media screen and (min-width: 1000px) {
  .slider__text--bottom .slider__text__content {
    -webkit-animation-name: bottomSlide;
            animation-name: bottomSlide;
  }
}





