* {
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}


.chatbox {
	width: 745px;
	min-width: 400px;
	height: 420px;
	background-color: #fff;

}
.chatlogs {
	padding: 10px;
	width: 100%;
	height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
	width: 10px;	
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .photo {
	width: 60px;
	height: 60px;
	background-color: #ccc;
	border-radius: 50%;
	overflow: hidden;
}

.chat .photo img {
	width: 100%;
}

.chat .pesan {
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: white;
	font-size: 18px;
}

.pelanggan .pesan {
	background-color: #c1c1c1;
}

.owner .pesan {
	background-color: #1ddced;
	order: -1;
}

.form {
	margin-top: 20px;
	display: flex;
	align-items: flex-start;

}

.form textarea {
	background-color: #fbfbfb;
	width: 80%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 5px;
	resize: none;
	padding: 10px;
	font-size: 15px;
	color: black;
}

.form button {
	background-color: #1ddced;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 5px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;

	-webkit-transition : background .2s ease;
	-moz-transition : background .2s ease;
	-o-transition : background .2s ease;
}

.form button:hover {
	background-color: #13c8d9;
}


img.profile-img-card {
    max-width: 192px;
    max-height: 192px;
}
