
body{
	margin:0;font-family:'Muli-Reg'
}

.menu{
	font-weight:100;
	background:#efefef;
	width:150px;
	height:100%;
	padding-left:50px;
	position:fixed;
	z-index:100;
	-webkit-box-shadow:-3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow:-3px 0px 5px 0px rgba(0,0,0,0.2);
	right:-130px;transition:all .3s;
	-webkit-transition:all .3s;color:#222;
}

.menu:hover,.menu:focus{
	transform:translate3d(-130px, 0, 0);
	animation-timing-function:1s ease-in
}

.menu .title{
	top:10%;
	position:absolute;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	left:20px;
	font-weight:800;
	font-size:15px
}

.menu .nav{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	font-weight:100}.menu .nav li{
	padding-bottom:30px;
	list-style-type:none;
}

.menu .nav li a{
	display:block;
	text-decoration:none;
	color:inherit;
	transition:all .3s;
	-webkit-transition:all .3s
}

.menu .nav li a:hover{
	color:#37d5ed;
}

.intro{
	position:absolute;
	top:30%;
	width:40%;
	margin:0 auto;
	left:0;right:0;
	font-size:45px;
	text-align:center;
	font-family:'Muli-ExtraLightItalic'
}
