body {
  margin: 0;
}

section {
  min-height: 100px;
}

.navbar {
  font-family: Caviar Dreams;
  background-color: #595959;
  color: #ffffff;
  padding-top: 15px;
  list-style: none;
  text-align: center;
  height: 60px;
}


.navbar > li {
  display: inline-block;
  padding-right: 100px;
}

.nama {
  font-family: AvantGarde LT;
  font-size: 30px;
  color: #37d5ed;
  float: left;
}

.navbar > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  position: relative;
}


.navbar > li > a:hover {
  color: #c1c1c1;
}


.navbartika {
  font-family: Caviar Dreams;
  background-color: white;
  color: black;
  list-style: none;
  text-align: center;
  height: 25px;
  position: relative;
}


.navbartika > li {
  display: inline-block;
  padding-right: 100px;
}


.navbartika > li > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navbartika > li > a:hover {
  color: #19e4f6;
}


.cari {
  width: 200px;
  border-radius: 5px;
  color: black;
}


hr {
  width: 100%;
  border-top: 2px solid #999; 
}

.settingGambar {
  width: 100px;
  height: 100px;
}

