body {
  margin: 0;
}

section {
  min-height: 200px;
}

.navbar {
  font-family: Caviar Dreams;
  background-color: #595959;
  color: #ffffff;
  padding-top: 15px;
  list-style: none;
  text-align: center;
  height: 60px;
}


.navbar > li {
  display: inline-block;
  padding-right: 100px;
}

.nama {
  font-family: AvantGarde LT;
  font-size: 30px;
  color: #37d5ed;
  float: left;
}

.navbar > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  position: relative;
}


.navbar > li > a:hover {
  color: #c1c1c1;
}


.navbartika {
  font-family: Caviar Dreams;
  background-color: white;
  color: black;
  list-style: none;
  text-align: center;
  height: 25px;
  position: relative;
}


.navbartika > li {
  display: inline-block;
  padding-right: 100px;
}


.navbartika > li > a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.navbartika > li > a:hover {
  color: #19e4f6;
}


.cari {
  width: 200px;
  border-radius: 5px;
  color: black;
}

.jumbotron img{
  width: 420px;
  height: 250px;
}

hr {
  width: 100%;
  border-top: 2px solid #999; 
}

.wrapper1 {
  font-family:sans-serif ;
  width: 100%;
  margin: 0 auto;
  position: relative;

}


.content1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content1 span{
  font-size: 24px;
  display: block;
  color: #c1c1c1;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}


.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;  
}

.wrapper1:hover .overlay1 {
  opacity: 0.8;
}

.wrapper2 { 
  font-family:sans-serif;
  width: 100%;
  margin: 0 auto;
  position: relative;

}


.content2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content2 span{
  font-size: 24px;
  display: block;
  color: #c1c1c1;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;  
}

.wrapper2:hover .overlay2 {
  opacity: 0.8;
}

.wrapper3 {
  font-family:sans-serif; ;
  width: 100%;
  margin: 0 auto;
  position: relative;

}

.content3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content3 span{
  font-size: 24px;
  display: block;
  color: #393939;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}


.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;  
}

.wrapper3:hover .overlay3 {
  opacity: 0.8;
}
