section {
  min-height: 200px;
}

.home {
  text-align: center;
}

h3 {
  font-family: Caviar Dreams;
}

.navbar {
  font-family: Caviar Dreams;
  background-color: #595959;
  color: black;
  padding-top: 15px;
  list-style: none;
  text-align: center;
  height: 60px;
}


.navbar > li {
  display: inline-block;
  padding-right: 100px;
}

.nama {
  font-family: AvantGarde LT;
  font-size: 25px;
  color: #37d5ed;
  float: left;
}

.navbar > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  position: relative;
}


.navbar > li > a:hover {
  color: #c1c1c1;
}



p{
  text-align: center;
}
body{
  background-color: white;
}

.jumbotron img{
  width: 500px;
  height: 300px;
}

hr {
  width: 600px;
  border-top: 2px solid #999; 
}

.slider {
  overflow: hidden;
  height: 600px;
  margin-top: 0;
}


.slider figure div {
width: 20%;
float: left;
}

.slider figure img{
  width: 100%;
  float: left;

}

.slider figure{
  position: relative;
  width: 500%;
  margin:0;
  left: 0;
  animation: 20s slide infinite;

}

@keyframes slide{
  0%{
    left: 0%;

  }
  10%{
    left: 0%;
  }
  12%{
    left: -100 %;
  }
  22%{
    left: -100%;
  }
  26%{
    left: -200%;
  }
  38%{
  left: -200%;
  }
  45%{
    left: -300%;
  }
  48%{
    left: -300%;
  }
  58%{
left: -400%;
  }
  60%{
    left: -300%;
  }
  72%{
    left: -200%;
  }
  84%{
    left: -200%;
  }
  94%{
    left: -100%;
  }
  96%{
    left: 
  }

}


.wrapper1 {
  font-family:sans-serif ;
  width: 100%;
  margin: 0 auto;
  position: relative;

}


.content1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content1 span{
  font-size: 24px;
  display: block;
  color: #c1c1c1;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}


.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;  
}

.wrapper1:hover .overlay1 {
  opacity: 0.8;
}

.wrapper2 { 
  font-family:sans-serif;
  width: 100%;
  margin: 0 auto;
  position: relative;

}


.content2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content2 span{
  font-size: 24px;
  display: block;
  color: #c1c1c1;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;  
}

.wrapper2:hover .overlay2 {
  opacity: 0.8;
}

.wrapper3 {
  font-family:sans-serif; ;
  width: 100%;
  margin: 0 auto;
  position: relative;


}

.content3 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.content3 span{
  font-size: 24px;
  display: block;
  color: #393939;
  list-style: none;
  text-decoration: none;
  display: inline-block;
}


.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: white;  
}

.wrapper3:hover .overlay3 {
  opacity: 0.7;
}

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #64C7CC;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}