

.login-card{
  max-width:350px;
  padding:40px 40px;
  background-color:#48cfc8;
  margin:0 auto 25px;
  margin-top:5px;
  border-radius:20px;
  box-shadow:0px 2px 2px rgba(5, 0, 0, 4.3);
  opacity:0.84;
}
.login-card2{
  max-width:825px;
  padding:40px 40px;
  background-color:#15E6ED;
  margin:0 auto 25px;
  margin-top:5px;
  margin-left: 280px;
  border-radius:80px;
  box-shadow:0px 2px 2px rgba(5, 0, 0, 4.3);
  opacity:0.84;
}
.login-card3{
  max-width:350px;
  padding:40px 40px;
  background-color:#15E6ED;
  margin:0 auto 25px;
  margin-top:5px;
  border-radius:80px;
  box-shadow:0px 2px 2px rgba(5, 0, 0, 4.3);
  opacity:0.84;
}
.login-card .profile-img-card{
  width:126px;
  height:126px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}
.login-card2 .profile-img-card{
  width:126px;
  height:126px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}
.login-card3 .profile-img-card{
  width:126px;
  height:126px;
  margin:0 auto 10px;
  display:block;
  border-radius:50%;
}

.login-card .profile-name-card{
  font-size:16px;
  font-weight:bold;
  text-align:center;
  margin:10px 0 0;
  min-height:1em;
}

.login-card .reauth-email{
  display:block;
  color:#404040;
  line-height:2;
  margin-bottom:10px;
  font-size:14px;
  text-align:center;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  box-sizing:border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card2 .form-signin input[type=email], .login-card2 .form-signin input[type=password], .login-card2 .form-signin input[type=text], .login-card2 .form-signin button{
  height:44px;
  font-size:16px;
  width:100%;
  display:block;
  margin-bottom:10px;
  z-index:1;
  position:relative;
  box-sizing:border-box;
}

.login-card label{
  color:#000000;
}

.login-card .form-signin .form-control:focus{
  border-color:rgb(104, 145, 162);
  outline:0;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(104, 145, 162);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}
.login-card .btn.btn-daftar{
  font-weight:700;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(104, 145, 162);
  border-radius:3px;
  border:none;
  transition:all 0.218s;
  padding:0;
}
.btn.btn-buy{
  font-weight:300;
  height:36px;
  line-height:36px;
  font-size:14px;
  background:rgb(10, 149, 109);
  border-radius:50px;
  border:none;
  transition:all 0.218s;
  padding:0;
  margin-top: 10px;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus{
  background:rgb(240, 106, 69);
}
.login-card .btn.btn-daftar:hover, .login-card .btn.btn-daftar:active, .login-card .btn.btn-daftar:focus{
  background:rgb(41, 245, 255);
}
.btn.btn-buy:hover, .btn.btn-buy:active, .btn.btn-buy:focus{
  background:rgb(41, 245, 255);
}

.login-card .forgot-password{
  color:rgb(104, 145, 162);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus{
  color:rgb(255, 8, 8);
}

