div.jumbotron{
	font-family: cursive;
	margin-top: 0px;
	background-color: #2DC69A ;
	opacity: 0.4;
	filter: alpha(opacity=40);
	border-radius: 10%;

}
h1 , p{
	text-align: center;
}
body{
	background-color: 
}
.genap{
	text-align: center;
	background-color: #A4FBE2;
	height: 460px;
	width: 400px;
	margin-left: 30px;
	margin-bottom: 20px;
	border-radius: 60px; 
}

.ganjil{
	text-align: center;
	background-color: #8FDAC5;
	height: 460px;
	width: 400px;
	margin-left: 30px;
	margin-bottom: 20px;
	border-radius: 60px;
}
.kaos{
	height: 350px;
	width: 250px;
	margin-top: 10px;
	margin-left: 60px;
	margin-right: 65px;
	margin-bottom: 10px;

}

#wrapper {
  padding: 0px;
  width: 250px;
  height: auto;
  margin: auto;
  overflow: hidden;
}


.image-container {
  float: right;
  width: 500px;
  height: 350px;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

.image-container img {
  float: left;
  padding-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 350px;
  position: absolute;
}

.image-caption {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}

.image-caption h1 {
  padding: 0px 0px 5px 0px;
  text-align: center;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  color: #00bfb6;
}

.image-caption p {
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  color: #fff;
}

.image-container:hover .image-caption {
  opacity: 1;
}


/* media queries */

@media all and (min-width: 250px) and (max-width: 250px) {
  #wrapper {
    width: 100%;
    height: 100%;
    padding: 0px 20px
  }
}

@media all and (min-width: 250px) and (max-width: 250px) {
  #wrapper {
    width: 100%;
    height: 100%;
  }
  .image-container {
    float: left;
    width: 250px;
    margin: 5px;
    overflow: hidden;
    position: relative;
  }
  .image-caption {
    width: 250px;
    height: 350px;
  }
}

.hexagon {
  position: relative;
  width: 400px; 
  height: 230.94px;
  background-color: #4ee29c;
  margin: 115.47px 0;
  box-shadow: 0 0 50px rgba(34,187,244,0.65);
  border-left: solid 7px #1e483d;
  border-right: solid 7px #1e483d;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 282.84px;
  height: 282.84px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 51.5786px;
  box-shadow: 0 0 50px rgba(34,187,244,0.65);
}

.hexagon:before {
  top: -141.4214px;
  border-top: solid 9.8995px #1e483d;
  border-right: solid 9.8995px #1e483d;
}

.hexagon:after {
  bottom: -141.4214px;
  border-bottom: solid 9.8995px #1e483d;
  border-left: solid 9.8995px #1e483d;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top:4.04145188432738px;
  left: 0;
  width:386px;
  height:222.8572px;
  z-index: 2;
  background: inherit;
}